<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>checkbox3</title>
    <script src="/plugins/jquery3.3.1.js"></script>
    <script src="/dest/components/checkbox3/checkbox3.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/checkbox3/checkbox3.css">
</head>
<body>
    <div>checkbox3</div>
    <br/>
    <input type="checkbox" value="1" data-label="label1" class="zr-checkbox" name="222" id="id1">
    <input type="checkbox" value="2" data-label="label2" class="zr-checkbox" name="222" checked >
    <input type="checkbox" value="3" data-label="label3" class="zr-checkbox" name="222" disabled>
    <input type="checkbox" value="4" data-label="label4" class="zr-checkbox" name="222" checked disabled>
    <button class="js-select">选中</button>
    <button class="js-disabled">禁用</button>
    <br/>
    <br/>
    <div>checkbox全选</div>

    <input type="checkbox" value="1" data-label="label1" class="zr-checkbox" name="333" data-all="true">
    <input type="checkbox" value="2" data-label="label1" class="zr-checkbox" name="333">
    <input type="checkbox" value="3" data-label="label1" class="zr-checkbox" name="333">
    <input type="checkbox" value="4" data-label="label1" class="zr-checkbox" name="333">
    <input type="checkbox" value="5" data-label="label1" class="zr-checkbox" name="333">

    <button class="js-all">all</button>
</body>
</html>