<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>checkbox</title>
    <script src="/plugins/jquery3.3.1.js"></script>
    <script src="/dest/components/checkbox/checkbox.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/checkbox/checkbox.css">
</head>
<body>
    <div>checkbox2</div>
    <br/>
    <input type="checkbox" value="label4" class="zr-checkbox" id="id1" name="22">
    <input type="checkbox" value="label1" class="zr-checkbox" checked name="22" >
    <input type="checkbox" value="label2" class="zr-checkbox" disabled name="22">
    <input type="checkbox" value="label3" class="zr-checkbox" checked disabled name="22">
    <button class="js-select">选中</button>
    <button class="js-disabled">禁用</button>
    <br/>
    <br/>
    <div>checkbox全选</div>

    <input type="checkbox" value="labelall" class="zr-checkbox" name="44">
    <input type="checkbox" value="labelall" class="zr-checkbox" name="33">
    <input type="checkbox" value="labelall" class="zr-checkbox" name="33">
    <input type="checkbox" value="labelall" class="zr-checkbox" name="33">
    <input type="checkbox" value="labelall" class="zr-checkbox" name="33">
</body>
</html>