<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/dest/components/radio/radio.js"></script>
    <script src="/dest/components/checkbox/checkbox.js"></script>
    <link rel="stylesheet" href="/dest/components/radio/radio.css">
    <link rel="stylesheet" href="/dest/components/checkbox/checkbox.js">
</head>
<body>
    <div>2222333</div>
</body>
</html>