<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>checkbox</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/dest/components/dropdown/dropdown.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/dropdown/dropdown.css">
</head>

<body>
    <div>dropdown</div>
    <!-- click -->
    <div>
        <h4>Click</h4>
        <div class="jui-dropdown" data-event="click">
            <a class="jui-dropdown-link" href="javascript:;">Click1<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
        <div class="jui-dropdown jui-dropup" data-event="click">
            <a class="jui-dropdown-link" href="javascript:;">Click2<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
    </div>
    <!-- hover -->
    <div>
        <h4>Hover</h4>
        <div class="jui-dropdown">
            <a class="jui-dropdown-link" href="javascript:;">Hover1<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
        <div class="jui-dropdown jui-dropup">
            <a class="jui-dropdown-link" href="javascript:;">Hover2<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
    </div>
    <!-- btn click -->
    <div>
        <h4>Button Click</h4>
        <div class="jui-dropdown jui-dropdown-btn" data-event="click">
            <a class="jui-dropdown-link" href="javascript:;">Click1<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
        <div class="jui-dropdown jui-dropup jui-dropdown-btn" data-event="click">
            <a class="jui-dropdown-link" href="javascript:;">Click2<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
    </div>
    <!-- btn hover -->
    <div>
        <h4>Button Hover</h4>
        <div class="jui-dropdown jui-dropdown-btn">
            <a class="jui-dropdown-link" href="javascript:;">Hover1<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
        <div class="jui-dropdown jui-dropup jui-dropdown-btn">
            <a class="jui-dropdown-link" href="javascript:;">Hover2<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
    </div>
</body>

</html>