<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dropdown</title>
    <script src="/plugins/jquery3.3.1.js"></script>
    <script src="/dest/components/dropdown/dropdown.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/dropdown/dropdown.css">
</head>

<body>
    <div>dropdown</div>
    <!-- click -->
    <div class="zr-col-24">
        
        <h4>Click</h4>
        <input type="text" class="zr-input zr-col-12">
        <div class="jui-dropdown" data-droptype="click">
            <a class="jui-dropdown-link" href="javascript:;">Click1<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <ul class="jui-dropdown-menu">
                <li class="jui-dropdown-item jui-dropdown-item-disabled">
                    <a href="//zr.jd.com">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="//zr.jd.com">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item-divider"></li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                    <ul class="jui-dropdown-child-menu">
                        <li class="jui-dropdown-item">
                            <a href="javascript:;">Action</a>
                            <ul class="jui-dropdown-child-menu">
                                    <li class="jui-dropdown-item">
                                        <a href="javascript:;">Action</a>
                                    </li>
                                    <li class="jui-dropdown-item jui-dropdown-item-disabled">
                                        <a href="javascript:;">Action</a>
                                    </li>
                                </ul>
                        </li>
                        <li class="jui-dropdown-item jui-dropdown-item-disabled">
                            <a href="javascript:;">Action</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="jui-dropdown jui-dropdown-up" data-droptype="click">
            <a class="jui-dropdown-link" href="javascript:;">Click2<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
    </div>
   
    <div>
        <h4>Hover</h4>
        <div class="jui-dropdown" data-close-resize="true">
            <a class="jui-dropdown-link" href="javascript:;">Hover1111<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
        <div class="jui-dropdown jui-dropdown-up">
            <a class="jui-dropdown-link" href="javascript:;">Hover2<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
    </div>
   
    <div>
        <h4>Button Click</h4>
        <div class="jui-dropdown jui-dropdown-btn" data-droptype="click">
            <a class="jui-dropdown-link" href="javascript:;">Click1<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
        <div class="jui-dropdown jui-dropdown-up jui-dropdown-btn jui-dropdown-equal" data-droptype="click">
            <a class="jui-dropdown-link" href="javascript:;">Click2<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                    <ul class="jui-dropdown-child-menu">
                            <li class="jui-dropdown-item">
                                <a href="javascript:;">Action</a>
                                <ul class="jui-dropdown-child-menu">
                                        <li class="jui-dropdown-item">
                                            <a href="javascript:;">Action</a>
                                        </li>
                                        <li class="jui-dropdown-item jui-dropdown-item-disabled">
                                            <a href="javascript:;">Action</a>
                                        </li>
                                    </ul>
                            </li>
                            <li class="jui-dropdown-item jui-dropdown-item-disabled">
                                <a href="javascript:;">Action</a>
                            </li>
                        </ul>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
    </div>
   
    <div>
        <h4>Button Hover</h4>
        <div class="jui-dropdown jui-dropdown-btn jui-dropdown-right">
            <a class="jui-dropdown-link" href="javascript:;">Hover1<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
        <div class="jui-dropdown jui-dropdown-up jui-dropdown-btn jui-dropdown-equal">
            <a class="jui-dropdown-link" href="javascript:;">Hover2<!---->
                <i class="jui-icon-angle jui-icon-down"></i>
            </a>
            <div class="jui-dropdown-menu">
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
                <div class="jui-dropdown-divider"></div>
                <li class="jui-dropdown-item">
                    <a href="javascript:;">Action</a>
                </li>
            </div>
        </div>
    </div>

  
   <div>
    <h4>Option</h4>
    <div class="jui-dropdown jui-dropdown-equal" data-droptype="click">
        <a class="jui-dropdown-link" href="javascript:;">Click1Click1Click1Click1<!---->
            <i class="jui-icon-angle jui-icon-down"></i>
        </a>
        <div class="jui-dropdown-menu">
            <li class="jui-dropdown-item">
                <a href="javascript:;">Action</a>
            </li>
            <li class="jui-dropdown-item">
                <a href="javascript:;">Action</a>
            </li>
            <li class="jui-dropdown-item">
                <a href="javascript:;">Action</a>
            </li>
            <div class="jui-dropdown-divider"></div>
            <li class="jui-dropdown-item">
                <a href="javascript:;">Action</a>
            </li>
        </div>
    </div>
    <div class="jui-dropdown jui-dropdown-up" data-droptype="click">
        <a class="jui-dropdown-link" href="javascript:;">Click2<!---->
            <i class="jui-icon-angle jui-icon-down"></i>
        </a>
        <div class="jui-dropdown-menu">
            <li class="jui-dropdown-item">
                <a href="javascript:;">Action</a>
            </li>
            <li class="jui-dropdown-item">
                <a href="javascript:;">Action</a>
            </li>
            <li class="jui-dropdown-item">
                <a href="javascript:;">Action</a>
            </li>
            <div class="jui-dropdown-divider"></div>
            <li class="jui-dropdown-item">
                <a href="javascript:;">Action</a>
            </li>
        </div>
    </div>
    </div>
</body>

</html>