<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>modal</title>
    <script src="/plugins/jquery3.3.1.js"></script>
    <script src="/dest/components/modal/modal.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/modal/modal.css">
</head>
<body>
    <div>modal1</div>
    <button>弹1</button>
</body>
</html>