<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page</title>
    <script src="/plugins/jquery3.3.1.js"></script>
    <script src="/dest/components/page/page.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/page/page.css">
    <!-- 下拉 -->
    <script src="/dest/components/dropdown/dropdown.js"></script>
    <link rel="stylesheet" href="/dest/components/dropdown/dropdown.css">
</head>

<body>
    <h4>page</h4>
    <div class="zr-pagination" id="page1"></div>
    <div class="zr-pagination" id="page2"></div>
    <div class="zr-pagination" id="page3"></div>
    <div class="zr-pagination" id="page4"></div>
    <script>
        
        $(function(){
            $('#page1')[0].onzrinit({
                'total': 250,
                'pageSize': 5,
                'errNotice': '页码错误',
                'showTotalPage': true, //是否显示分页总数
                'showPageSize': true, //是否显示分页切换
                'showTotal': true, //是否显示总数
                'showInfo': true, //是否显示分页信息
                'showJump': true, //是否显示跳转框
                'onChange': function(current){
                },
                'onShowSizeChange': function(num){
                    console.log(this);
                    console.log(num);
                }
            })     
            $('#page2')[0].onzrinit({
                'total': 250,
                'pageSize': 5,
                'showTotalPage': true, //是否显示分页总数
                'showPageSize': true, //是否显示分页切换
                'showTotal': true, //是否显示总数
                'showInfo': true, //是否显示分页信息
                'showJump': true, //是否显示跳转框
                'onChange': function(current){
                },
                'onShowSizeChange': function(num){
                    console.log(this);
                    console.log(num);
                }
            })       
            $('#page3')[0].onzrinit({
                'total': 30,
                'pageSize': 5,
                'showTotalPage': true, //是否显示分页总数
                'showPageSize': true, //是否显示分页切换
                'showTotal': true, //是否显示总数
                'showInfo': true, //是否显示分页信息
                'showJump': true, //是否显示跳转框
                'onChange': function(current){
                },
                'onShowSizeChange': function(num){
                    console.log(this);
                    console.log(num);
                }
            })   
        })
    </script>
</body>
</html>