<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>radio</title>
    <script src="/plugins/jquery3.3.1.js"></script>
    <script src="/dest/components/radio/radio.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/radio/radio.css">
</head>
<body>
    <div>radio1</div>
    <input class="zr-radio" value="label1" type="radio" name="radio1" id="id1">
    <input class="zr-radio" value="label2" checked type="radio" name="radio1">
    <input class="zr-radio" value="label3" disabled type="radio" name="radio1">
    <input class="zr-radio" value="label4" checked disabled type="radio" name="radio1">
   
    <button class="js-select">选中</button>
    <button class="js-disabled">禁用</button>
</body>
</html>