<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>radio</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/dest/components/radio/radio.js"></script>
    <script src="/dest/components/checkbox/checkbox.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/radio/radio.css">
    <link rel="stylesheet" href="/dest/components/checkbox/checkbox.js">
</head>
<body>
    <div>radio1</div>
    <span>radio2<div>222</div></span>
    <input class="jui-radio js-ccc" value="lm" checked type="radio" name="radio1" id="id1">
    <input class="jui-radio" disabled type="radio" name="radio1">
    <input class="jui-radio" checked disabled type="radio" name="radio1">
    <input class="jui-radio" type="radio" name="radio1">
    <script></script>
    <input type="radio" name="xx1" value="333">
    <input type="text" name="xx1" value="2222">
    <input type="radio" name="xx1">
    <button class="js-select">选中</button>
    <button class="js-disabled">禁用</button>
</body>
</html>