<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upload</title>
    <script src="/plugins/jquery3.3.1.js"></script>
    <script src="/dest/components/upload/upload.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/upload/upload.css">
</head>
<body>
    <div>upload</div>
    
    <input type="file" name="aa">
</body>
</html>