<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upload</title>
    <script src="/plugins/jquery3.3.1.js"></script>
    <script src="/dest/components/upload/upload.js"></script>
    <link rel="stylesheet" href="/dest/components/base/base.css">
    <link rel="stylesheet" href="/dest/components/upload/upload.css">
</head>

<body>
    <div>upload</div>

    <input type="file" class="zr-upload" name="aa" data-label="上传">
    <input type="file" class="zr-upload" name="bb" data-label="上传" disabled>
    <input type="file" class="zr-upload zr-upload-picture" name="aa" data-label="picture">

    <div style="width:400px;height:200px;">
        <input type="file" class="zr-upload zr-upload-drag" name="aa" data-tips="Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files" data-text="Click or drag file to this area to upload">
    </div>
    


</body>

</html>