$zr-color: #4363f4;

.zr-pagination {
    font-size: 14px;
    .zr-pagination-list {
        margin: 0;
        padding: 0;
        list-style: none;
        // font-size: 0;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.65);
        box-sizing: border-box;

        .zr-pagination-pre {
            cursor: pointer;
            font-size: 14px;
            user-select: none;
            min-width: 32px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            list-style: none;
            display: inline-block;
            vertical-align: middle;
            background-color: #fff;
            margin-right: 8px;
            outline: 0;
            box-sizing: border-box;

            a {
                border-radius: 4px;
                border: 1px solid #d9d9d9;
                display: block;
                height: 100%;
                transition: all .3s;
                padding-left: 5px;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-top: 1px solid;
                    border-right: 1px solid;
                    transform: rotate(-135deg);
                    transition: all .3s;
                    border-color: rgba(0, 0, 0, 0.65);
                }

                &:hover {
                    border-color: $zr-color;
                    color: $zr-color;

                    &::after {
                        border-color: $zr-color !important;
                    }
                }
            }

            &.zr-pagination-disable {
                cursor: not-allowed;

                a {
                    cursor: not-allowed;

                    &::after {
                        border-color: rgba(0, 0, 0, 0.25);
                    }

                    &:hover {
                        border-color: #d9d9d9;
                        color: #d9d9d9;

                        &::after {
                            border-color: rgba(0, 0, 0, 0.25) !important;
                        }
                    }
                }
            }

            //文案按钮
            &.zr-pagination-pre-text {
                a {
                    color: rgba(0, 0, 0, 0.65);
                    text-decoration: none;
                    border-radius: 4px;
                    border: 1px solid #d9d9d9;
                    display: block;
                    height: 100%;
                    transition: all .3s;
                    padding: 0 5px;

                    &:hover {
                        border-color: $zr-color;
                        color: $zr-color;

                        &::after {
                            border-color: $zr-color !important;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }

                &.zr-pagination-disable {
                    cursor: not-allowed;

                    a {
                        color: #d9d9d9;
                        cursor: not-allowed;

                        &:hover {
                            border-color: #d9d9d9;
                            color: #d9d9d9;

                            &::after {
                                border-color: rgba(0, 0, 0, 0.25) !important;
                            }
                        }
                    }
                }
            }
        }

        .zr-pagination-next {
            cursor: pointer;
            font-size: 14px;
            user-select: none;
            min-width: 32px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            list-style: none;
            display: inline-block;
            vertical-align: middle;
            background-color: #fff;
            margin-right: 8px;
            outline: 0;
            box-sizing: border-box;

            a {
                border-radius: 4px;
                border: 1px solid #d9d9d9;
                display: block;
                height: 100%;
                transition: all .3s;
                padding-right: 5px;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-top: 1px solid;
                    border-right: 1px solid;
                    transform: rotate(45deg);
                    transition: all .3s;
                    border-color: rgba(0, 0, 0, 0.65);
                }

                &:hover {
                    border-color: $zr-color;
                    color: $zr-color;

                    &::after {
                        border-color: $zr-color !important;
                    }
                }
            }

            &.zr-pagination-disable {
                cursor: not-allowed;

                a {
                    cursor: not-allowed;

                    &::after {
                        border-color: rgba(0, 0, 0, 0.25);
                    }

                    &:hover {
                        border-color: #d9d9d9;
                        color: #d9d9d9;

                        &::after {
                            border-color: rgba(0, 0, 0, 0.25) !important;
                        }
                    }
                }
            }

            //文案按钮
            &.zr-pagination-next-text {
                a {
                    color: rgba(0, 0, 0, 0.65);
                    text-decoration: none;
                    border-radius: 4px;
                    border: 1px solid #d9d9d9;
                    display: block;
                    height: 100%;
                    transition: all .3s;
                    padding: 0 5px;

                    &:hover {
                        border-color: $zr-color;
                        color: $zr-color;

                        &::after {
                            border-color: $zr-color !important;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }

                &.zr-pagination-disable {
                    cursor: not-allowed;

                    a {
                        color: #d9d9d9;
                        cursor: not-allowed;

                        &:hover {
                            border-color: #d9d9d9;
                            color: #d9d9d9;

                            &::after {
                                border-color: rgba(0, 0, 0, 0.25) !important;
                            }
                        }
                    }
                }
            }
        }

        .zr-pagination-ellipsis {
            font-size: 14px;
            min-width: 32px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            list-style: none;
            display: inline-block;
            vertical-align: middle;
            background-color: #fff;
            margin-right: 8px;
            outline: 0;
            box-sizing: border-box;

            a {
                cursor: default;
                text-decoration: none;
                color: rgba(0, 0, 0, 0.35);
                transition: none;
                margin: 0 6px;
                font-weight: 500;
            }
        }

        .zr-pagination-item {
            cursor: pointer;
            font-size: 14px;
            border-radius: 4px;
            user-select: none;
            min-width: 32px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            list-style: none;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid #d9d9d9;
            background-color: #fff;
            margin-right: 8px;
            outline: 0;
            box-sizing: border-box;
            transition: all .3s;

            a {
                text-decoration: none;
                color: rgba(0, 0, 0, 0.65);
                margin: 0 6px;
                font-weight: 500;
            }

            &.active {
                border-color: $zr-color;

                a {
                    color: $zr-color;
                }
            }

            &:hover {
                border-color: $zr-color;

                a {
                    color: $zr-color;
                }
            }
        }

        .zr-pagination-total-text {
            display: inline-block;
            vertical-align: middle;
            height: 32px;
            line-height: 30px;
            margin-right: 8px;
        }

        .zr-pagination-total-page {
            display: inline-block;
            vertical-align: middle;
            height: 32px;
            line-height: 30px;
            margin-left: 8px;
        }

        .zr-pagination-options {
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;

            .zr-pagination-options-jump {
                display: inline-block;
                vertical-align: top;
                height: 32px;
                line-height: 32px;

                input {
                    box-sizing: border-box;
                    position: relative;
                    display: inline-block;
                    padding: 4px 11px;
                    width: 100%;
                    height: 32px;
                    font-size: 14px;
                    line-height: 1.5;
                    color: rgba(0, 0, 0, 0.65);
                    background-color: #fff;
                    background-image: none;
                    border: 1px solid #d9d9d9;
                    border-radius: 4px;
                    transition: all .3s;
                    margin: 0 8px;
                    width: 50px;
                    outline: none;

                    &:hover {
                        border-color: $zr-color;
                    }
                }
            }
        }

        &::after {
            content: '';
            height: 0;
            visibility: hidden;
            clear: both;
            display: block;
        }
    }

    //下拉
    .zr-dropdown {
        margin: 0 5px;
    }
}